.body-index {
    background:#FFD700;
}
.body-scheme {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.body-all {
    background:url(http://img.fliptab.io/pokemon/1920x1200/pokemon-31.jpg);
    background-color: #fec901
}
.body-pokemon {
    background:url(https://images6.alphacoders.com/884/thumb-1920-884402.jpg);
}
.body-layout {
    background:url(https://cdn.hipwallpaper.com/i/55/71/H8X67z.png);
}
.coach-body{
    background:url(https://images2.alphacoders.com/105/thumb-1920-1052505.png);
}
.random-body{
    background:url(https://images6.alphacoders.com/423/thumb-1920-423150.jpg);
}
.body-market {
    background:#FFD700;
}
.body-failure {
    background:url(https://www.tapeciarnia.pl/tapety/normalne/61305_pikachu_grozny_pokemon.jpg);
    background-color: #2f528a;
}
#pokemon-cards-not-on-sale:hover {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    cursor: pointer;
}
#pokemon-cards-on-sale {
    position:relative;
    display: inline-block;
    border: 5px solid red;
}
.text-on-picture {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%) rotate(-45deg);
    color: red;
    font-size: 40px;
    margin: 0;
}

