<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pokemony</title>
    <link rel="stylesheet" type="text/css" href="pokemon.css">
</head>
<body class="body-scheme body-all">
<section layout:fragment="content">
    <div class="container" style="text-align:center">
        <p></p>
        <h1>Kolekcja kart - oto pokemony, które udało ci się zebrać </h1>
        <h2>Kliknij na kartę by móc wystawić ją na sprzedaż</h2>
        <p></p>
    </div>
    <div class="container">

        <div class="row justify-content-center" th:if="${not #lists.isEmpty(pages)}">
            <div th:each="card:${pages}">
                <div id="pokemon-card-body">
                    <div id="pokemon-cards-not-on-sale" th:if="${!card.onSale}">
                        <div class="col"><a th:href="@{/pokemon/{cardName}(cardName=${card.name})}">
                            <img class="pokemon-image"
                                 th:src="${card.url}"></a>
                        </div>
                    </div>
                    <div id="pokemon-cards-on-sale" th:if="${card.onSale}">
                        <div class="col"><a th:href="@{/pokemon/{cardName}(cardName=${card.name})}">
                            <img class="pokemon-image-on-sale" th:src="${card.url}">
                            <div class="text-on-picture"><strong>NA SPRZEDAŻ</strong></div>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="text-align:center" th:if="${pages.isEmpty()}">
            <h2>Trener nie posiada pokemonów!</h2>
        </div>
        <div th:if="${pageNumbers.size()>1}" class="container" style="text-align:center">
            <nav aria-label="Page navigation example">
                <!--przycisk wstecz-->
                <div style="display:inline-block" class="page-item" th:if="${currentPage!=0}">
                    <span style="display:inline-block" class="page-item"><a class="page-link"
                                                                            th:href="@{/pokemon(size=${pages.size},page=${currentPage-1})}">Wstecz</a></span>
                </div>
                <div style="display:inline-block" class="page-item" th:if="${currentPage==0 and !pages.isEmpty()}">
                    <button disabled style="display:inline-block" class="page-item">Wstecz</button>
                </div>
                <!--numeracja-->
                <span style="display:inline-block" class="pagination justify-content-end"
                      th:if="${pages.totalPages > 0}"
                      th:each="pageNumber : ${pageNumbers}">

                <div class="page-item"><a class="page-link"
                                          th:href="@{/pokemon(size=${pages.size}, page=${pageNumber-1})}"
                                          th:text=${pageNumber}></a></div>
            </span>
                <!--przycisk dalej-->
                <div style="display:inline-block" class="page-item"
                     th:if="${currentPage!=pageNumbers.size()-1 and !pages.isEmpty()}">
                    <span style="display:inline-block" class="page-item"><a class="page-link"
                                                                            th:href="@{/pokemon(size=${pages.size},page=${currentPage+1})}">Dalej</a></span>
                </div>
                <div style="display:inline-block" class="page-item" th:if="${currentPage==pageNumbers.size()-1}">
                    <button disabled style="display:inline-block" class="page-item">Dalej</button>
                </div>
            </nav>
        </div>
    </div>
</section>

</body>
</html>