<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pokemony</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Moje pokemony!</h1>
    <h2>Kliknij na kartę by zobaczyć szczegóły</h2>
        <div th:if="${not #lists.isEmpty(pages)}">
            <tr th:each="card:${pages}">
                <td><a th:href="@{/pokemon/{cardName}(cardName=${card.name})}" ><img th:src="${card.url}"></a></td>
            </tr>
        </div>
        <div th:if="${pages.isEmpty()}">
            Trener nie posiada pokemonów!
        </div>
    <div th:if="${pages.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/pokemon(size=${pages.size}, page=${pageNumber-1})}"
           th:text=${pageNumber}></a>
    </div>
</section>

</body>
</html>