<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Trener</title>
    <link rel="stylesheet" type="text/css" href="pokemon.css">
</head>
<body class="coach-body body-scheme">
<section layout:fragment="content">

    <div th:if="${coach.coachName!=null}">
        <div class="container" style="text-align:center">
            <p></p>
            <div style="color:white">
                <h1>Twój trener: <span th:text="${coach.coachName}"></span></h1>
                <h2>Posiadasz: <span th:text="${coach.amountMoney}"></span>$</h2>
                <h2>Co godzinę dostajesz extra 100$</h2>
            </div>
        </div>
    </div>
</section>

</body>
</html>