<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">>Pokemony</title>
    <link rel="stylesheet" type="text/css" href="pokemon.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body class="body-scheme body-layout">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <Item><a class="navbar-brand" href="/">Strona główna</a></Item>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <Item><a class="nav-link" href="/market">Market </a></Item>
            </li>
            <li class="nav-item">
                <Item sec:authorize="isAuthenticated()"><a class="nav-link" href="/pokemon">Moje pokemony </a></Item>
            </li>
            <li class="nav-item">
                <Item sec:authorize="isAuthenticated()"><a class="nav-link" href="/draw-random-cards">Zbierz nowe </a>
                </Item>
            </li>
            <li class="nav-item">
                <Item sec:authorize="isAuthenticated()"><a class="nav-link" href="/coach">Trener </a></Item>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <Item sec:authorize="!isAuthenticated()"><a class="nav-link" href="/sign-up">Zarejestruj się </a></Item>
            </li>
            <li class="nav-item">
                <Item sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">Wyloguj się </a></Item>
            </li>
            <li class="nav-item">
                <Item sec:authorize="!isAuthenticated()"><a class="nav-link" href="/login">Zaloguj się </a></Item>
            </li>
            <li class="nav-item">
                <Item class="nav-link" sec:authorize="isAuthenticated()">Witaj <span sec:authentication="name"></span>
                </Item>
            </li>
        </ul>
    </div>
</nav>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
<section layout:fragment="content">
</section>
</body>
</html>