<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
    <link rel="stylesheet" type="text/css" href="pokemon.css">
</head>
<body>
<section layout:fragment="content">
    <div class="container" style="text-align:center">
        <h1>Zaloguj się</h1>
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <h3>Email:</h3>
                <input class="form-control-lg" type="email" name="username" placeholder="email">
            </div>
            <div class="form-group">
                <h3>Hasło:</h3>
                <input class="form-control-lg" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <input class="btn btn-success btn-lg" type="submit" value="Zaloguj się!">
            </div>
        </form>
    </div>
</section>
</body>
</html>
