<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
    <link rel="stylesheet" type="text/css" href="pokemon.css">
</head>
<body class="body-scheme body-market">
<section layout:fragment="content">
    <div class="container" style="text-align:center">
        <p></p>
        <h1>Market!</h1>
        <h2>Tu możesz kupić karty innych graczy</h2>
        <p></p>
        <div class="container">
            <div class="row row-cols-2 row-cols-md-4" th:if="${not #lists.isEmpty(marketCards)}">
                <div class="col mb-4" th:each="card:${marketCards}">
                    <img class="card-img-top" th:src="${card.url}">
                    <div class="card-body">
                        <strong>Nazwa karty:</strong> <span th:text="${card.name}"></span> <br>
                        <strong>Trener:</strong> <span th:text="${card.coach.coachName}"></span> <br>
                        <strong>Cena:</strong> <span th:text="${card.price}"></span>
                        <br>
                        <form th:action="@{/bought}" th:object="${card}" method="post">
                            <input type="hidden" name="id" th:value="${card.id}">
                            <input type="hidden" name="name" th:value="${card.name}">
                            <input type="hidden" name="url" th:value="${card.url}">
                            <input type="hidden" name="price" th:value="${card.price}">
                            <input type="hidden" name="onSale" th:value="${card.onSale}">
                            <input class="btn btn-success" sec:authorize="isAuthenticated()" type="submit"
                                   value="Kup!">
                            <input class="btn btn-success" sec:authorize="!isAuthenticated()" type="submit"
                                   value="Kup!"
                                   disabled>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align:center" th:if="${#lists.isEmpty(marketCards)}">
                <h2>Nie ma aktualnie żadnych kart w markecie</h2>
            </div>
        </div>
    </div>
</section>
</body>
</html>