<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
</head>
<body>
<section layout:fragment="content">
    <h1>Market!</h1>
    <h2>Tu możesz kupić karty innych graczy</h2>
    <div th:if="${not #lists.isEmpty(marketCards)}">
        <div th:each="card:${marketCards}">
            <td><img th:src="${card.url}"></td><br>
            Nazwa karty: <span th:text="${card.name}"></span> <br>
            Trener: <span th:text="${card.coach.coachName}"></span> <br>
            Cena: <span th:text="${card.price}"></span> <br>
            <form th:action="@{/bought}" th:object="${card}" method="post">
                <input type="hidden" name="id" th:value="${card.id}">
                <input type="hidden" name="name" th:value="${card.name}">
                <input type="hidden" name="url" th:value="${card.url}">
                <input type="hidden" name="price" th:value="${card.price}">
                <input type="hidden" name="onSale" th:value="${card.onSale}">
                <input sec:authorize="isAuthenticated()" type="submit" value="Kup!">
                <input sec:authorize="!isAuthenticated()" type="submit" value="Kup!" disabled>
            </form>
            <br>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(marketCards)}">
        Nie ma aktualnie żadnych kart w markecie.
    </div>
</section>
</body>
</html>