<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Zarejestruj się</title>
    <link rel="stylesheet" href="pokemon.css">
</head>
<body>
<section layout:fragment="content">
    <div class="container">
        <h1>Zarejestruj się</h1>
    <form th:action="@{/register}" th:object="${appUser}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <div class="form-group">
            Email:
            <input class="form-control"  type="email" name="username" placeholder="email">
        </div>
        <div class="form-group">
            Hasło:
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
            <input class="btn btn-success btn-lg" type="submit" value="Załóż konto">
        </div>
    </form>
    </div>
</section>
</body>
</html>

