<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego trenera</title>
</head>
<body>
<section layout:fragment="content">
    <div th:if="${#lists.isEmpty(coach)}">
        <h1>Dodaj nowego trenera!</h1>
        <form th:action="@{/dodano-trenera}" th:object="${coach}" method="post">
        Imię:
        <input type="text" name="coachName" placeholder="imie">
        <input type="submit" value="Zapisz!">
    </form>
    </div>
    <div th:if="${not #lists.isEmpty(coach)}">
        <h1>Twój trener!</h1>
        <h2 th:text="${coach.coachName}"></h2>
    </div>
</section>

</body>
</html>