<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout " xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego trenera</title>
</head>
<body>
<section layout:fragment="content">

    <div th:if="${coach.coachName==null}">
        <h1>Dodaj nowego trenera!</h1>
        <form th:action="@{/dodano-trenera}" th:object="${coach}" method="post">
        Imię:
        <input type="text" name="coachName" placeholder="imie">
        <input type="submit" value="Zapisz!">
    </form>
    </div>
    <div th:if="${coach.coachName!=null}">
        <h1>Twój trener: <span th:text="${coach.coachName}"></span></h1>
        <h2>Posiadasz: <span th:text="${coach.amountMoney}"></span>$</h2>
        <h2>Co godzinę dostajesz extra 100$</h2>
    </div>
</section>

</body>
</html>